section#about.about
    h1.about__title about

    .about__container
        p
            | Since graduating with a M.A. in <i>Informational Control Systems and Technologies</i> in 2002, Zoltan has focused his professional career almost exclusively on web development.

        p
            | While working on a wide range of projects during the years - from microsites to enterprise level applications for some of the best known companies in North America - Zoltan acquired a lot of valuable experience in back and (<i>mostly</i>) front end development.

        p
            | He enjoys working in Agile environments, constantly delivering new features with highest attention to details and meeting the deadlines with clean, efficient and thoroughly tested code. And all that while drinking exorbitant amounts of rooibos tea with honey :)

        p
            | Currently he is working at <a href="//www.touchbistro.com" target="_blank" rel="noopener">TouchBistro</a> helping the #1 iPad POS for Restaurants to strenghten its leading position and grow, grow, grow...
