section.Contact
    h1 Contact

    form
        div.Contact-container
            label.Contact-label(for="name") name
            input#name.Contact-input

        //- label(for="phone") Phone
        //- input#phone(placeholder="Phone")

        div.Contact-container
            label.Contact-label(for="email") email
            input#email.Contact-input

        div.Contact-container
            label.Contact-label(for="message") message
            textarea#message.Contact-input.is-textarea

        button Submit