section.Contact
    h1 Contact

    form
        div.Contact-container
            label.Contact-label(for="name") name
            input.Contact-input

        //- label(for="phone") Phone
        //- input#phone(placeholder="Phone")

        div.Contact-container
            label.Contact-label(for="email") email
            input.Contact-input

        div.Contact-container
            label.Contact-label(for="message") message
            textarea.Contact-input.is-textarea

        //- label(for="mess") Message
        //- textarea#mess(placeholder="Message")

        button Submit