section.Contact
    span.intro__title Contact

    form
        div.Contact-container
            label.Contact-label(for="name") name
            input#name.Contact-input

        div.Contact-container.is-hidden
            label.Contact-label(for="phone") phone
            input#phone.Contact-input

        div.Contact-container
            label.Contact-label(for="email") email
            input#email.Contact-input

        div.Contact-container
            label.Contact-label(for="message") message
            textarea#message.Contact-input.is-textarea

        button.Contact-button Submit
