section.contact
    h1.contact__title contact

    .contact__container
        form
            div.contact__field
                label.contact__label(for="name") name
                input#name.contact__input

            div.contact__field.is-hidden
                label.contact__label(for="phone") phone
                input#phone.contact__input

            div.contact__field
                label.contact__label(for="email") email
                input#email.contact__input

            div.contact__field
                label.contact__label(for="message") message
                textarea#message.contact__input.is-textarea

            button.contact__button Submit
