section.contact
    h1 Contact

    form
        label(for="name") Name
        input#name(placeholder="Name")

        label(for="phone") Phone
        input#phone(placeholder="Phone")

        label(for="mail") Email
        input#mail(placeholder="Email")

        label(for="mess") Message
        textarea#mess(placeholder="Message")

        button Submit