section#contact.contact
    h1.contact__title contact

    .contact__container
        form#form.contact__form
            .contact__field
                label.contact__label(for="name") name
                input#name.contact__input(name="name")

            .contact__field.is-hidden
                label.contact__label(for="phone") phone
                input#phone.contact__input(name="trapit")

            .contact__field
                label.contact__label(for="email") email
                input#email.contact__input(name="email")

            .contact__field
                label.contact__label(for="message") message
                textarea#message.contact__input.is-textarea(name="message")

            input.contact__button(type="submit" value="Submit")

            .contact__under-development.is-hidden
                | This functionality is currently under development.<br />Please use one of the <a href="#social">social accounts</a> to get in touch.
