head
		meta(charset="utf-8")

		title="Zoltan Toth - Front End Developer in Toronto"
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins")
		link(rel="stylesheet" href="styles.min.css")