head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,user-scalable=no")

		title="Zoltan Toth - Front End Developer in Toronto"
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins")
		link(rel="stylesheet" href="styles.min.css")