section.intro
    article.intro__container
        span.intro__title Hi there.
        | My name is Zoltan. I'm a Toronto based front-end developer who loves to create clean, fast and functional user experiences.
