header
    nav
        ul.menu
            li 
                a(href="#about" class="menu__link") about
            li 
                a(href="#social" class="menu__link") social
            li 
                a(href="#portfolio" class="menu__link") portfolio
            li 
                a(href="#contact" class="menu__link") contact
