header
    nav.menu
        button.menu__button MENU
        ul.menu__list
            li 
                a(href="#about" class="menu__item") about
            li 
                a(href="#social" class="menu__item") social
            li 
                a(href="#portfolio" class="menu__item") work
            li 
                a(href="#contact" class="menu__item") contact
