section.portfolio
    h1 Brands

    -
        var companies = [
            {
                class: 'indigo',
                client: "Indigo Books and Music",
                title: "Senior Front End Developer",
                names: ['HTML5', 'React', 'Sass', 'Docker', 'ES6', 'Webpack']
            },
            {
                class: 'sunlife',
                client: "International Financial Data Services",
                title: "Senior Front End Web Developer",
                names: ['HTML5', 'AngularJS', 'Sass', 'Webpack']
            },
            {
                class: 'olg',
                client: "Ontario Lottery and Gaming",
                title: "Senior Front End Developer",
                names: ['HTML5', 'Sass', 'Less', 'JavaScript', 'AngularJS']
            },
            {
                class: 'food-network',
                client: "Food Network Canada",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'Less', 'JavaScript']
            },
            {
                class: 'globe',
                client: "The Globe and Mail",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            },
            {
                class: 'aeroplan',
                client: "Aeroplan",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            },
            {
                class: 'home-depot',
                client: "The Home Depot",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            },
            {
                class: 'loreal',
                client: "L'Oreal",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            },
            {
                class: 'reebok',
                client: "Reebok",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            },
            {
                class: 'rexall',
                client: "Rexall",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            },
            {
                class: 'ryerson-university',
                client: "Ryerson University",
                title: "Front End Developer",
                names: ['HTML5', 'Sass', 'JavaScript']
            }
        ]

    each item in companies
        - name = item.names
        article(class="portfolio__item is-" + item.class)
            .portfolio__item-flip
                .portfolio__item-front
                    | #{item.client}
                .portfolio__item-back
                    each item in name
                        | #{item} 
