section#portfolio.portfolio.content
    h1.content__title work

    -
        var companies = [
            {
                class: 'touchbistro',
                client: "TouchBistro",
                stack: ['html', 'css', 'stylus', 'react', 'graphql', 'javascript', 'json', 'babel', 'jest', 'webpack', 'nodejs', 'git']
            },
            {
                class: 'indigo',
                client: "Indigo Books and Music",
                stack: ['html', 'css', 'sass', 'react', 'javascript', 'json', 'babel', 'jest', 'webpack', 'nodejs', 'git']
            },
            {
                class: 'sunlife',
                client: "International Financial Data Services",
                stack: ['html', 'css', 'sass', 'javascript', 'json', 'angular', 'mysql', 'jasmine', 'webpack', 'git', 'gitlab']
            },
            {
                class: 'olg',
                client: "Ontario Lottery and Gaming",
                stack: ['html', 'css', 'sass', 'javascript', 'json', 'angular', 'firebase', 'gulp', 'git']
            },
            {
                class: 'food-network',
                client: "Food Network Canada",
                stack: ['html', 'css', 'sass', 'less', 'javascript', 'jquery', 'git']
            },
            {
                class: 'globe',
                client: "The Globe and Mail",
                stack: ['html', 'css', 'sass', 'javascript', 'backbone', 'jquery', 'git']
            },
            {
                class: 'geico',
                client: "GEICO",
                stack: ['html', 'css', 'javascript', 'jquery', 'mssql', 'subversion']
            },
            {
                class: 'aeroplan',
                client: "Aeroplan",
                stack: ['html', 'css', 'less', 'javascript', 'jquery', 'mssql', 'subversion']
            },
            {
                class: 'home-depot',
                client: "The Home Depot",
                stack: ['html', 'css', 'javascript', 'jquery', 'mssql', 'subversion']
            },
            {
                class: 'loreal',
                client: "L'Oreal",
                stack: ['html', 'css', 'javascript', 'php', 'subversion']
            },
            {
                class: 'reebok',
                client: "Reebok",
                stack: ['html', 'css', 'actionscript', 'flash', 'paypal', 'php']
            },
            {
                class: 'rexall',
                client: "Rexall",
                stack: ['html', 'css', 'email']
            },
            {
                class: 'ryerson-university',
                client: "Ryerson University",
                stack: ['html', 'css', 'javascript', 'jquery', 'php']
            }
        ]

    .content__container.content__container--space-around
        each item in companies
            - stack = item.stack
            article(class="portfolio__item is-" + item.class)
                .portfolio__item-flip
                    .portfolio__item-front
                        | #{item.client}
                    .portfolio__item-back
                        each tech in stack
                            img(src="images/logos/tech/" + tech + ".svg" alt=tech title=tech)
