section.Portfolio
    h1 Brands
    p.
        #[span Hi.] I'm a front end (UI) developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices.

    div
        img(src="images/logo_indigo.png" title="")
        img(src="images/logo_sunlife.png" title="")
        img(src="images/logo_globe.png" title="")
        img(src="images/logo_geico.png" title="")
        img(src="images/logo_olg.png" title="")
        img(src="images/logo_home-depot.png" title="")
        img(src="images/logo_reebok.png" title="")
        img(src="images/logo_rexall.png" title="")
        img(src="images/logo_food-network.png" title="")

    -
        var companies = [
            {
                class: 'ifds',
                client: "International Financial Data Services",
                title: "Senior Front End Web Developer",
                tools: ['logo', 'logo', 'logo', 'logo', 'logo'],
                names: ['ES6', 'ES6', 'ES6', 'ES6', 'ES6']
            },
            {
                class: 'olg',
                client: "Ontario Lottery and Gaming",
                title: "Senior Front End Developer",
                tools: ['logo'],
                names: ['ES6']
            },
            {
                class: 'food',
                client: "Food Network Canada",
                title: "Front End Developer",
                tools: ['logo'],
                names: ['ES6']
            },
            {
                class: 'tgam',
                client: "The Globe and Mail",
                title: "Front End Developer",
                tools: ['logo'],
                names: ['ES6']
            }
        ]

    each item in companies
        article.Portfolio-item
            div.Portfolio-card
                figure.Portfolio-cardFront
                    div.Portfolio-logo(class= item.class, title= item.client)
                    i.icon.icon--info-circled
                figure.Portfolio-cardBack
                    div.Portfolio-tools
                        - for (var i = 0; i < 9; i++)
                            span.Portfolio-tool
                                if item.tools[i]
                                    img(src="images/" + item.tools[i] + ".png" title=item.names[i])
                    i.icon.icon--cancel-circled
