.about {
	.content;
}

.about__title {
	.content__title;
}

.about__container {
    .content__container;
    
    font-size: 1.75rem;
    letter-spacing: .375px;
    line-height: 1.333;
    max-width: 50rem;
    padding: 0 1rem;

    a {
        border-bottom: 4px dotted @blue;
        color: @dark;
        text-decoration: none;
        transition: .1s linear;

        &:hover {
            color: @blue;
        }
    }
}