/* colors */
@base-white: #ffffff;
@base-black: #212121;
@base-blue: #00caea;
@base-grey: #e6e6e6;

::selection {
    background: @base-blue;
    color: @base-white;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: @base-white;
    margin: auto;
}

.is-hidden {
    display: none;
}