.console {
    background: #000;
    border: 3px double #ddd;
    font: normal 16px monospace;
    height: 400px;
    margin: 4em auto;
    overflow: hidden;
    width: 600px;
}

.console__header {
    background: #4682b4;
    border-bottom: 1px solid #ddd;
    color: #fff;
    height: 25px;
    line-height: 25px;
    padding: 4px;
    text-indent: 6px;
}

.console__buttons {
    float: right;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
    }
}

.console__button {
    background: #b0c4de;
    border: 1px solid #ddd;
    color: #111;
    cursor: pointer;
    height: 24px;
    width: 26px;
    margin-left: -4px;
    text-align: center;
    transition: all .2s linear;
    font: bold 20px monospace;
    line-height: 12px;

    &:hover {
        box-shadow: inset 0 0 2px 1px #eee;
    }
}

.console__button--close {
    background: lightcoral; //rgba(255, 0, 0, .875);
    color: #fff;
    text-shadow: 0 0 4px #272822;
    width: 64px;

    &:hover {
        background: #f00;
    }
}


p {
    color: #ccc;
    margin: 0;
}

input {
    background: #111;
    border: 0;
    color: #fff;
    margin: 4px 4px 0;
    font: normal 16px monospace;
    outline: none;
}

.console__window {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
    height: 87.5%;
}

.console__message-area {
    
}