.Contact {
	margin: auto;
	max-width: 800px;
}

.Contact-container {

	&.is-active {
		.Contact-label {
			font-size: 1.5rem;
			transform: translateY(0);
		}
	}
}

.Contact-label {
	display: block;
	font-size: 2.25rem;
	transform: translateY(4.5rem);
	transition: all 0.5s;
}

.Contact-text {
	// background: ivory;
	border: 0;
	border-bottom: 2px solid #222;
	display: block;
	font-size: 2.25em;
	height: 3rem;
	margin: 1rem 0 2rem;
	outline: 0;
	padding: .5rem 0;
}




.contact {
	margin: 6em auto;
	max-width: 840px;

	h1 {
		position: relative;
	}
}

.Contact-form {
	display: flex;
	flex-wrap: wrap;
}

.Contact-input,
.Contact-textarea {
	display: flex;
	height: 2em;
	margin: 1em auto 2em;
	padding: .5em;
}

.Contact-textarea {
	height: 8em;
	resize: vertical;
}

.Contact-button {
	border: 1px solid red;
	display: block;
	height: 48px;
	line-height: 48px;
	margin: auto;
	width: 33%;
}

#phone {
	display: none;
}

@media screen and (min-width: 600px) {
	input {
		width: 43%;
	}

	textarea {
		width: 93.25%;
	}
}