footer {
    background: @dark;
    display: flex;
    align-items: flex-end;
    font: 400 14px 'Poppins';
    height: 3em;
    justify-content: center;
    margin-top: 15em;
    padding: 2em 0 .5em;
    overflow: hidden;
    position: relative;
    text-align: center;
    
    p {
        color: @pale;
        z-index: 999;
    }
}