.intro {
    background: url(images/toronto.png) no-repeat center bottom;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    height: calc(100vh - 3em);
    width: 100%;
}

.intro__container {
    background: @base-white;
    border-radius: 1rem;
    line-height: 1.33;
    padding: 1rem;
    position: relative;
      left: 30vw;
      top: 15vh;
    width: 500px;
}

.intro__title {
    color: @base-blue;
    display: block;
    font-size: 5rem;
    font-weight: normal;
    text-shadow: none;
}
