header {
    background: @pale;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
      
.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: auto;
    max-width: 1200px;
    padding: 0;

    li {
        display: inline-block;
    }
}

.menu__link {
    color: @dark;
    display: inline-block;
    font: 600 1.25rem @font-poppins;
    height: 3rem;
    line-height: 3rem;
    margin: 0 .5rem;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
        color: @blue;
    }
}


@media only screen and (min-width: 450px) {
    .menu__link {
        margin: 0 .5em 0 2.5em;
    }
}