.Portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	max-width: 960px;
	height: 100vh;
}

.portfolio__item {
	background: url(images/logo_indigo.png);
	perspective: 1000px;
}

.portfolio__item:hover .portfolio__item-flip, 
.portfolio__item.hover .portfolio__item-flip {
	transform: rotateX(180deg);
  }
  
 
  .portfolio__item-flip {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  }
  
.portfolio__item-front, 
.portfolio__item-back {
	backface-visibility: hidden;
	position: absolute;
}
  
  .portfolio__item-front {
	z-index: 2;
	transform: rotateX(0deg);
  }
  
  .portfolio__item-back {
	transform: rotateX(180deg);
	background: lavender;
  }

.portfolio__item,
.portfolio__item-back,
.portfolio__item-front {
	height: 200px;
	width: 400px;
}

img {
    filter: grayscale(1)
}

@media screen and (min-width: 800px) {

}