.Portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	max-width: 960px;

	h1 {
		width: 100%;
	}
}

.Portfolio-logo {
	border: 8px solid #fff;
	border-radius: 50%;
	display: block;
	height: 150px;
	margin: 1.65em auto;
	width: 150px;

	position: relative;
		left: -1.25em;
		right: 0;

	&.ifd { background: #fff url(images/sprite.png) 0 0; }
	&.olg  { background: #fff url(images/sprite.png) 190px 0; }
	&.fnc { background: #fff url(images/sprite.png) 0 0; }
	&.gam { background: #fff url(images/sprite.png) 190px 0; }
}

.Portfolio-item {
	border-bottom: 1px solid #fff;
	display: flex;
	height: 220px;
	perspective: 800px;
	position: relative;
	width: 100%;
}

.Portfolio-card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;

	figure {
		margin: 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	i {
		color: lighten(#649F8B, 10%);
		cursor: pointer;
		position: absolute;
			right: 6.5%;
			bottom: 90px;
	}

	&.is-flip {
		transform: rotateY(180deg);

		.Portfolio-cardFront {
			visibility: hidden;
		}
	}
}

.Portfolio-cardFront {
	background: linear-gradient(90deg,
		rgba(255, 255, 255, .25) 0,
		rgba(255, 255, 255, .25) 85.75%,
		rgba(255, 255, 255, 1) 85.75%,
		rgba(255, 255, 255, 1) 86%,
		rgba(255, 255, 255, .25) 86%,
		rgba(250, 250, 250, .55) 86%,
		rgba(250, 250, 250, .55) 100%);
	border: 1px solid #fff;
	position: relative;
	transition-delay: .3s;
}

.Portfolio-cardBack {
	background: linear-gradient(90deg,
		rgba(255, 255, 255, .25) 0,
		rgba(255, 255, 255, .25) 85.75%,
		rgba(255, 255, 255, 1) 85.75%,
		rgba(255, 255, 255, 1) 86%,
		rgba(255, 255, 255, .25) 86%,
		rgba(250, 250, 250, .75) 86%,
		rgba(250, 250, 250, .75) 100%);
	text-align: center;
	position: relative;
	transform: rotateY(180deg);

	i {
		color: darken(#FAB5C5, 10%);
	}
}

.Portfolio-tools {
	margin: .5em 0;
	width: 86%;
}

.Portfolio-tool {
	border: 1px solid #fff;
	display: inline-block;
	height: 55px;
	margin: 4px;
	width: 25%;
}



@media screen and (min-width: 600px) {
	.Portfolio {
		justify-content: space-around;
	}

	.Portfolio-item {
		flex-direction: row;
		margin-bottom: .875em;
		width: 47.75%;
	}
}

@media screen and (min-width: 800px) {
	.Portfolio-item {
		width: 50%;

		&:nth-child(even) {

		}

		&:nth-child(odd) {

		}
	}

	.Portfolio-tool {
		width: 25%;
	}
}