.social {
	margin: auto;
	max-width: 840px;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
		padding: 0;
	}
}

.social__account {
	background: #fff;
	display: flex;
	padding: 1.5em 0;
	width: 30%;
}


@media screen and (min-width: 600px) {
	.social ul {

	}
}