.Accounts-clip {
  height: 0;
  width: 0;
}

.Accounts-links {
  margin: 100px 0;
  position: relative;
}

.Accounts-row {
  text-align: center;
}

.Accounts-item {
  background: #00caea;
  display: block;
  height: 150px;
  margin: 0 12px;
  position: relative;
  transition: .1s all linear;
  width: 220px;

  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: url("#clip-diamond");

  &--lin:hover { background: #0077b5; }
  &--git:hover { background: #000000; }
  &--sow:hover { background: #fe7a16; }
  &--npm:hover { background: #cb3837; }
}

.Accounts-svg {
  display: flex;
  fill: #fff;
  height: 5em;
  margin: auto;
  width: 5em;
}


@media only screen and (min-width: 450px) {
  .Accounts-row {
    margin-top: -70px;

    &:first-of-type {
      margin-top: auto;
    }
  }

  .Accounts-item {
    display: inline-flex;
  }
}


















.github:before {
  display: block;
  height: 2em;
  color: #00caea;
  content:"GitHub";
  position:absolute;
  right: calc(50% + 69px);
  top: -22px;
  width: 33%;
  text-align: left;
  text-indent: 1em;
  border-bottom: 1px solid #00caea;
}

.github:after{
  content:"";
  position:absolute;
  left: calc(50% - 70px);
  top: 10px;
  border-top:1px solid #00caea;
  width:40px;
  transform: rotate(33deg);
  transform-origin: 0;
  z-index: 0;
}
