@import 'portfolio';
@import 'social';
@import 'contact';

html, body {
	height: 100%;
    padding: 0;
}

body {
    background: #fff;
    margin: auto;
    width: 80%;
}

h1 {
	color: #303030;
    font: 600 32px "Times";
    letter-spacing: 2.5px;
	padding: 24px 0;
	text-align: center;
    text-transform: uppercase;

    &:after {
        background: #f03838;
        content: "";
        display: block;
        height: 3px;
        margin: .75em auto;
        width: 200px;
    }
}
