@import 'common';

@import 'portfolio';
@import 'social';
@import 'contact';

::selection {
    background: @base-blue;
    color: @base-white;
;
}

html, body {
	height: 100%;
    padding: 0;
}

body {
    background: @base-grey;
    margin: auto;
    max-width: 800px;
    width: 90%;
}

h1 {
	color: @base-black;
    font: 600 24px 'Poppins';
    letter-spacing: 2.5px;
	margin: 4em 0 2em;
	text-align: center;
    text-transform: uppercase;

    &:after {
        background: @base-blue;
        content: '';
        display: block;
        height: 1px;
        margin: .75em auto;
        width: 200px;
    }
}
