doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title="Zoltan Toth - web developer portfolio"
		link(rel="stylesheet" href="styles.min.css")

	body
		section
			div.console
				header.console__header Zoltan Toth
					ul.console__buttons
						li: i.icon.icon--window-minimize
						li: i.icon.icon--window-maximize
						li: i.icon.icon--cancel-1

				div.console__window
					div.console__message-area
						p > type #[span.u-green --help] and press Enter for available commands
						input

		script(src="script.min.js")