doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title="Zoltan Toth - web developer portfolio"
		link(rel="stylesheet" href="styles.min.css")

	body
		section
			div.console
				header.console__header Zoltan Toth
					ul.console__buttons
						li: a.console__button.console__button--min(href="#" title="Minimize window")
							i.icon.icon--window-minimize
						li: a.console__button.console__button--max(href="#" title="Restore window") 
							i.icon.icon--window-maximize
						li: a.console__button.console__button--cls(href="#" title="Close") 
							i.icon.icon--cancel-1

				div.console__window
					div.console__message-area
						p > type #[span.console__warning --help] and press Enter for available commands
					div.console__input-container
						p
							label(for="console__input") >
							input#console__input.console__input

		script(src="script.min.js")