doctype html
html(lang="en")
	include includes/header.pug
	
	body
		include includes/about.pug
		include includes/accounts.pug
		include includes/portfolio.pug
		include includes/contact.pug
		include includes/footer.pug

		script(src="script.min.js")