doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title="Zoltan Toth - web developer portfolio"
		link(rel="stylesheet" href="styles.min.css")

	body
		section
			div.console
				header.console__header Zoltan Toth
					ul.console__buttons
						li: a.console__button.console__button--min(href="#" title="Minimize window")
							i.icon.icon--window-minimize
						li: a.console__button.console__button--max(href="#" title="Restore window") 
							i.icon.icon--window-maximize
						li: a.console__button.console__button--cls(href="#" title="Close") 
							i.icon.icon--cancel-1

				div.console__window
					div.console__message-area
					div.console__input-container
						p
							label(for="console__input") >
							input#console__input.console__input

		section.social
			h1 ...

			-
				var accounts = [
					{ name: 'LinkedIn', link: "http://linkedin.com" },
					{ name: 'Stack Overflow', link: "http://stackoverflow.com" },
					{ name: 'GitHub', link: "http://github.com" }
				]
			
			ul
				each account in accounts
					li.social__account 
						a(href=account.link) 
							= account.name

		section.portfolio
			h1 ...

			-
				var companies = [
					{
						class: 'ifds',
						client: "International Financial Data Services",
						title: "Senior Front End Web Developer",
						tools: ['logo', 'logo', 'logo', 'logo', 'logo'],
						names: ['ES6', 'ES6', 'ES6', 'ES6', 'ES6']
					},
					{
						class: 'olg',
						client: "Ontario Lottery and Gaming",
						title: "Senior Front End Developer",
						tools: ['logo'],
						names: ['ES6']
					},
					{
						class: 'food',
						client: "Food Network Canada",
						title: "Front End Developer",
						tools: ['logo'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['logo'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},

					
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},


					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					}
				]

			each item in companies
				article.portfolio__item
					div.portfolio__card
						figure.portfolio__card--front
							div.portfolio__logo(class= item.class, title= item.client)
							i.icon.icon--info-circled
						figure.portfolio__card--back
							div.portfolio__tools
								- for (var i = 0; i < 9; i++)
									span.portfolio__tool
										if item.tools[i]
											img(src="images/" + item.tools[i] + ".png" title=item.names[i])
							i.icon.icon--cancel-circled

		section.contact
			h1 Contact

			form
				label(for="name") Name
				input#name(placeholder="Name")

				label(for="phone") Phone
				input#phone(placeholder="Phone")

				label(for="mail") Email
				input#mail(placeholder="Email")

				label(for="mess") Message
				textarea#mess(placeholder="Message")

				button Submit

		footer
			| author &copy; 2017


		script(src="script.min.js")