doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title="Zoltan Toth - web developer portfolio"
		link(rel="stylesheet" href="styles.min.css")

	body
		section.About
			h1 ...

		section.Social
			h1 ...

			-
				var accounts = [
					{ name: 'LinkedIn', link: "http://linkedin.com", class: "li" },
					{ name: 'Stack Overflow', link: "http://stackoverflow.com", class: "so" },
					{ name: 'GitHub', link: "http://github.com", class: "gh" }
				]
			
			ul
				each account in accounts
					li.social__account 
						a(href=account.link "class"=account.class) 
							= account.name

		section.Portfolio
			h1 ...

			-
				var companies = [
					{
						class: 'ifds',
						client: "International Financial Data Services",
						title: "Senior Front End Web Developer",
						tools: ['logo', 'logo', 'logo', 'logo', 'logo'],
						names: ['ES6', 'ES6', 'ES6', 'ES6', 'ES6']
					},
					{
						class: 'olg',
						client: "Ontario Lottery and Gaming",
						title: "Senior Front End Developer",
						tools: ['logo'],
						names: ['ES6']
					},
					{
						class: 'food',
						client: "Food Network Canada",
						title: "Front End Developer",
						tools: ['logo'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['logo'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},

					
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},


					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					},
					{
						class: 'tgam',
						client: "The Globe and Mail",
						title: "Front End Developer",
						tools: ['Sass'],
						names: ['ES6']
					}
				]

			each item in companies
				article.Portfolio-item
					div.Portfolio-card
						figure.Portfolio-cardFront
							div.Portfolio-logo(class= item.class, title= item.client)
							i.icon.icon--info-circled
						figure.Portfolio-cardBack
							div.Portfolio-tools
								- for (var i = 0; i < 9; i++)
									span.Portfolio-tool
										if item.tools[i]
											img(src="images/" + item.tools[i] + ".png" title=item.names[i])
							i.icon.icon--cancel-circled

		section.contact
			h1 Contact

			form
				label(for="name") Name
				input#name(placeholder="Name")

				label(for="phone") Phone
				input#phone(placeholder="Phone")

				label(for="mail") Email
				input#mail(placeholder="Email")

				label(for="mess") Message
				textarea#mess(placeholder="Message")

				button Submit

		section
			footer
				| author &copy; 2017


		script(src="script.min.js")