doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title="Zoltan Toth - web developer portfolio"
		link(rel="stylesheet" href="styles.min.css")

	body
		section
			div.console
				header Zoltan Toth
					ul
						li: button _
						li: button _
						li: button X

				div.area
					p > type --help and press Enter for available commands
					input

		script(src="script.min.js")